name: Build and Test

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: make
      run: make all -j 4
    - name: mv
      run: |
        mkdir -p d/
        mv bin/*.d d/
    - name: upload bin
      uses: actions/upload-artifact@v2
      with:
        name: bin
        path: bin/*
    - name: upload dependencies
      uses: actions/upload-artifact@v2
      with:
        name: dependencies
        path: d/*
    - name: test
      run: make test

