name: Build and Test

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        cppstd:
        - 'c++11'
        - 'c++14'
        - 'c++17'
        - 'c++20'
        - 'gnu++11'
        - 'gnu++14'
        - 'gnu++17'
        - 'gnu++20'

    steps:
    - uses: actions/checkout@v2
    - name: make
      run: make all CPPSTD=${{ matrix.cppstd }} -j 4
    - name: mv
      run: |
        mkdir -p d/
        mv bin/*.d d/
    - name: upload bin
      uses: actions/upload-artifact@v2
      with:
        name: bin-${{ matrix.cppstd }}
        path: bin/*
    - name: upload dependencies
      uses: actions/upload-artifact@v2
      with:
        name: dependencies-${{ matrix.cppstd }}
        path: d/*
    - name: test
      run: make test

  valgrind:

    strategy:
      matrix:
        cppstd:
        - 'c++11'
        - 'c++14'
        - 'c++17'
        - 'c++20'
        - 'gnu++11'
        - 'gnu++14'
        - 'gnu++17'
        - 'gnu++20'

    runs-on: ubuntu-latest
    needs: build

    steps:
    - uses: actions/checkout@v2
    - name: install valgrind
      run: |
        sudo apt-get install -y valgrind
        mkdir bin
    - name: download bin
      uses: actions/download-artifact@v2
      with:
        name: bin-${{ matrix.cppstd }}
        path: bin/*
    - name: valgrind test
      run: make valgrind -j 4

