name: Build and Test

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        cppstd:
          - 'c++11'
          # - 'gnu++11'
          # - 'c++14'
          # - 'gnu++14'
          # - 'c++17'
          - 'gnu++17'
          # - 'c++20'
          # - 'gnu++20'
        cxx:
          - 'g++'
          - 'clang++'
        

    steps:
    - uses: actions/checkout@v2
    - name: make
      run: make all CXX=${{ matrix.cxx }} CPPSTD=${{ matrix.cppstd }} -j 4
    - name: upload bin
      uses: actions/upload-artifact@v2
      with:
        name: bin-${{ matrix.cxx }}-${{ matrix.cppstd }}
        path: |
          bin/*Main
          bin/*Test
    - name: upload dependencies
      uses: actions/upload-artifact@v2
      with:
        name: dependencies-${{ matrix.cxx }}-${{ matrix.cppstd }}
        path: bin/*.d
    - name: test
      run: make test

  valgrind:

    strategy:
      matrix:
        cppstd:
          - 'c++11'
          # - 'gnu++11'
          # - 'c++14'
          # - 'gnu++14'
          # - 'c++17'
          - 'gnu++17'
          # - 'c++20'
          # - 'gnu++20'
        cxx:
          - 'g++'
          - 'clang++'

    runs-on: ubuntu-latest
    needs: build

    steps:
    - uses: actions/checkout@v2
    - name: install valgrind
      run: |
        sudo apt-get update
        sudo apt-get install -y valgrind
        mkdir bin
    - name: download bin
      uses: actions/download-artifact@v2
      with:
        name: bin-${{ matrix.cxx }}-${{ matrix.cppstd }}
        path: bin/*
    - name: download dependencies
      uses: actions/download-artifact@v2
      with:
        name: dependencies-${{ matrix.cxx }}-${{ matrix.cppstd }}
        path: bin/*
    - name: tmp1
      run: |
        ls -l --time-style=full-iso . {bin,src}/HashTest* || echo $?
    - name: touch
      run: |
        touch bin
        touch bin/*.d
        touch bin/*Main
        touch bin/*Test
    - name: tmp2
      run: |
        echo A;
        ls -l --time-style=full-iso . {bin,src}/HashTest* || echo $?
    - name: valgrind test
      run: make valgrind -j 4

